<style type="text/css">
	.img_badge
	{
		width: 25px;
	}
</style>

<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper" style="overflow: hidden;">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                    <h1 style="color: white">IOTBox</h1>
            </li>
            <li>
                    <h3 style="color: white">Gateways</h3>
            </li>
            <li ng-repeat="gateway in gateways">
				<a href="" ng-click="getNodes(gateway.serial)">
	                <div class="row">
	                	<div class="col-md-5">

	                		<p>{{gateway.serial}}</p>

	            		</div>
	                	<div class="col-md-7">

	                		<span class="label label-primary" ng-class="{label-danger: error}">Node Count: {{gateway.nodes.length}}</span>

	            		</div>
	            	</div>
	            </a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

    <div ng-repeat="message in messages" ng-show="message" class="alert alert-{{message.class}}" role="alert">
  		{{message.message}}
	</div>

    <!-- <a href="#menu-toggle" class="btn btn-default" style="position: fixed; right: 10px; top: 10px;" id="menu-toggle">Toggle Menu</a> -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12" ng-class="{col-md-6: graphData.length}">
                    <div class="panel panel-default">
					  <div class="panel-heading">
					    <h3 class="panel-title">Nodes</h3>
					  </div>
					  <div class="panel-body" style="max-height: 250px; overflow-y:scroll;">

					    <div class="alert alert-info" ng-hide="nodes.length > 0" class="row">
					    	<p>Please select a gateway to see it's nodes</p>
					    </div>

					    <div ng-show="nodes.length > 0" class="row">
							<a ng-animate="'animate'" ng-repeat="node in nodes" href="" ng-click="drawGraph(node.serial,node)">
								<div class="col-sm-6 col-md-3">
								    <div class="thumbnail">
								      	<img src="/images/{{node.icon}}" style="width:75px;" alt="{{node.type}}">
								      	<div class="caption" style="padding-top:0px;">
								        	<h4 class="text-center">#{{node._id}}</h4>
								        	<p class="text-center"><small>Type: {{node.type}}</small></p>
									        <p ng-show="node.modules" class="text-center">
									        	<img ng-animate="'animate'" ng-repeat="module in node.modules" class="img_badge" src="/images/48x48/{{module}}.png"/> 
									        </p>
								      	</div>
								    </div>
								</div>
							</a>
						</div>

					  </div>
					</div>	
                </div>
            </div>
        </div>

		<div class="row">
			<graph data="graphData" height=400>
		        <x field="timestamp" type="Time" format="%c" title='Date'></x>
		        <!-- <x field="timestamp" type="Time" format="%Y-%m-%dT%H:%M:%S.%LZ"></x> -->
		        <y field="value" title='Value'></y>
		        <graph-legend></graph-legend>
		        <line field="type" label="node"></line>
		    </graph>
		</div>

    </div>
    <!-- /#page-content-wrapper -->

</div>


    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
