<!-- modules.html -->
</br>
<div class="row">
	<div class="col-md-3">
    	<div class="input-group">
		  	<span class="input-group-addon" id="basic-addon1">Module</span>
			<select class="form-control" ng-model="moduleFilter" ng-change="datapointsGet(node,moduleFilter,datapointLimit)">
				<option value="" selected>All</option>
				<option ng-repeat="module in node.modules" value="{{module}}">{{module}}</option>
			</select>
		</div>
	</div>
	<div class="col-md-3">
    	<div class="input-group">
		  	<span class="input-group-addon" id="basic-addon1">Sort</span>
			<select class="form-control" ng-model="moduleSort">
				<option value="">None</option>
				<option value="module">Module</option>
				<option value="verb">Action</option>
				<option value="createdAt">Date</option>
				<option value="value">Value</option>
			</select>
		</div>
	</div>
	<div class="col-md-6">
    	<div class="input-group">
		  	<span class="input-group-addon" id="basic-addon1">Number of Datapoints</span>
			<input type="number" class="form-control" ng-model="datapointLimit" ng-change="datapointsGet(node,moduleFilter,datapointLimit)" value="20" placeholder="20" />
		</div>
	</div>
</div>
<br/>
<div class="row" style="height: 450px; overflow-y:scroll;">
	<table class="table">
		<tr>
			<td><strong>Module</strong></td>
			<td><strong>Action</strong></td>
			<td><strong>Date</strong></td>
			<td><strong>Value</strong></td>
		</tr>	
		<tr ng-repeat="datapoint in datapoints | orderBy:moduleSort ">
			<td>{{datapoint.module}}</td>
			<td>{{datapoint.verb}}</td>
			<td>{{datapoint.createdAt}}</td>
			<td>{{datapoint.value}}</td>
		</tr>	
	</table>
</div>