<!-- gateway.html -->
<div class="panel panel-default">
	<div class="panel-heading">
      <h4 class="panel-title">
        <a data-parent="#accordion" href="" aria-expanded="true" onclick="$('#collapseGateways').toggle(200);">
          Gateways
        </a>
      </h4>
	</div>
	<div id="collapseGateways" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
	<div class="panel-body">
	    <div ng-hide="gateways.length" class="alert alert-info" class="row">
	    	<p>Please add a gateway</p>
	    </div>


		<div class="alert alert-{{gateway.class}}" ng-repeat="gateway in gateways" ng-show="gateways.length">
			<a ng-click="getNodes(gateway.serial)" href="">
					    <h4><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> #{{gateway.id}}</h4>
					    <p><strong>Type:</strong> {{gateway.type}}</p>
			</a>
		</div>

		</div>
  </div>
</div>	