<!-- nodeSettings.html -->
<div ng-controller="NodeCtrl">
	<div class="row" style="max-height:450px; overflow-y:scroll;">
		<table class="table">
			<tr><td><strong>Module</strong></td><td><strong>Key</strong></td><td><strong>Values</strong></td></tr>
			<tr ng-repeat="setting in node.settings" class="{{setting.class}}" >
				<td>
					<select class="form-control" ng-model="setting.module">
						<option value="All" ng-hide="setting.module == 'All'">All</option>
						<option value="{{setting.module}}">{{setting.module}}</option>
						<option ng-repeat="moduleType in node.modules" ng-hide="setting.module == moduleType" value="{{moduleType}}">{{moduleType}}</option>
					</select>
				</td>
				<td>
					<select class="form-control" ng-model="setting.key" ng-change="setting.value = moduleOptionDefaults(setting.module,setting.key)">
						<option value="{{setting.key}}">{{setting.key}}</option>
						<option ng-repeat="moduleOption in moduleOptions[setting.module].values" ng-hide="setting.key == moduleOption.key" value="{{moduleOption.key}}">{{moduleOption.key}}</option>
					</select>
				</td>
				<td>
					<div class="input-group" ng-repeat="settingItem in setting.value">
					  	<span class="input-group-addon"  style="width:80px;" ng-bind="settingItem.key"></span>
		    			<input type="number" class="form-control" ng-model="settingItem.value" />
					</div>
				</td>
				<td>
					<input type="button" class="form-control btn btn-success" ng-show="setting.class == 'danger'" ng-click="setting.class = 'primary'" value="+" />
					<input type="button" class="form-control btn btn-danger" ng-hide="setting.class == 'danger'" ng-click="setting.class = 'danger'" value="X" />
				</td>
			</tr>
		</table>
	</div>
	<div class="row">
		</br>
		<div class="pull-right">
			<button class="btn btn-info" ng-click="settingAdd();">Add</button>
			<button class="btn btn-success" ng-click="nodeSave();">Save</button>
			<!-- <button class="btn btn-danger" ng-click="nodeReload();">Cancel</button> -->
		</div>
	</div>
</div>